<div mat-dialog-content>
    <label>Card Number</label>

      <input matInput [(ngModel)]="data.cardNumber" type="text">

    <label>Exp Date</label>

      <input matInput [(ngModel)]="data.expDate" type="text">

    <label>Security Code</label>

      <input matInput [(ngModel)]="data.securityCode" type="text">

    <label>Name as it apppears on the card</label>

      <input matInput [(ngModel)]="data.nameOnCard" type="text">

    <label>Address</label>

      <input matInput [(ngModel)]="data.address" type="number">

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [disabled]="!validation()" (click)="submit()">Ok</button>
  </div>